/* ================ Page Login ======================= */
/* =================================================== */
header{
    box-shadow: 1px 1px 1px 2px rgb(243, 231, 231);
    padding: 15px;
}
.content h4{
    color: #4B4B4B;
    font-size: 30px;
}
.content label,.formShadow label{
    font-size: 16px;
    font-weight: bold;
}
  input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
  }
.content .form-control{
    width: 90%;
    border: none;
    font-size: 14px;
    background-color: rgb(248, 240, 240);
    height: 44px;
}
.content .form-control:focus{
  border: 1px solid #E78C03;
  background-color: white;
  box-shadow: none;
}
.formLogIn .input-group{
    width: 90%;
}
.formLogIn .input-group .input-group-prepend .fa,.formShadow .fa{
    color: #E78C03;
}
.content .password{
    width: 60% !important;
}
.login{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
    padding: 15px;
}
.login h6{
    font-size: 19px;
}
.btnLogin{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 50%;
    font-size: 18px;
}
.btnLogin .fa{
    color: white;
}
.forget{
    color: black;
}
.btnLogin2{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 50%;
    font-size: 18px;
}
.logPhoto img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logPhoto p{
    font-size: 20px;
    color: black;
}
.check{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check input:checked ~ .checkmark {
    background-color: #E78C03;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
footer .list-inline .list-inline-item a{
    color: white;
}
footer{
    background-color: black;
}
/* =========================================== page Registration ================ */
.registration h3{
  color: #4B4B4B;
  font-size: 30px;
}
.registration p{
  font-size: 20px;
  font-weight: 500;
}
.formShadow {
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.formShadow .form-control{
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
  height: 44px;
}
.formShadow .form-control:focus{
border: 1px solid #E78C03;
background-color: white;
box-shadow: none;
}
.check a{
  color: #E78C03;
}
/* ===================================================================================== */
/* ============================================ page Choose Business =================== */
/* The customRadio */
.chooseOption{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.customRadio {
    margin-bottom: 0px;
    display:inline-block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .customRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmarks {
    position: absolute;
    top: 0;
    margin-top: 2px;
    left: 0;
    height: 26px;
    width: 27px;
    background-color: white;
    border-radius: 50%;
    border:1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .customRadio:hover input ~ .checkmarks {
    background-color: orange;
  }
  
  /* When the radio button is checked, add a blue background */
  .customRadio input:checked ~ .checkmarks {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .customRadio input:checked ~ .checkmarks:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .customRadio .checkmarks:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: orange;
}
.btnConfirm{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 20%;
    font-size: 18px;
}
/* =========================================================================== */
/* ======================================== Page Details ====================== */
.txtWorn p{
  color: #EE2525;
  font-size: 16px;
  }
  .AccountStatus{
  font-size: 21px;
  line-height: 29px;
  font-weight: 500;
  }
  .notSubmit{
  font-size: 24px;
  font-weight: bold;
  }
  .tab-content h2{
    font-size: 30px;
  }
  .tabButton .bg-dark{
    background-color: #000000 !important;
  }
  .tabButton .nav li a{
      color: white;
      padding: 14px;   
  }
  .nav-pills .nav-link{
    border-radius: 0;
  }
  .tabButton .nav li a:active{
      background-color: #E78C03;
  }
  .tabButton .nav li a:visited{
      background-color: #E78C03;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #E78C03;
  }
  .tabButton .nav li a:focus{
      background-color: #E78C03;
  }
  .tabButton .nav li a:hover{
      background-color: #E78C03;
  }
  @media screen and (max-width:600px){
    .details .tabButton .bg-dark .li{
      display: flex;
      width: 100px;
      background-color: red !important;
      justify-content: center;
    }
  }
  
  .btnSubmit{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
  }
 
  .addDetails{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
  }
  .addDetails .form-control{
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
  height: 44px;
  }
  .addDetails .form-control:focus{
  border: 1px solid #E78C03;
  background-color: white;
  box-shadow: none;
  }
  .addDetails label{
  font-weight: bold;
  margin: 0;
  padding: 0;
  }
  .linkAdd a{
    color: #E78C03;
    font-size: 18px;
    font-weight: 500;
    font-family: "Archivo Narrow";
  }

  .btnClickAddAccount{
    color: #E78C03;
  }
  .ordList p{
    color: #E78C03;
    text-align: center;
    font-weight: bold;
  }
/* ========================================= Upload Documents ====== */
.firstUploadCollapse .card-header h5{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.firstUploadCollapse .card-header a:hover{
  text-decoration: none;
}
.exDate .form-inline .form-group .form-control{
  width: 175px !important;
}
.firstUploadCollapse .card-body{
  border: 2px solid beige;
  background-color: rgba(0,0,0,.03); 
}
.uploadDocuments{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.uploadDocuments .box{
  box-sizing: border-box;	
  height: 275px;	
  width: 100%;	
  border: 2px dashed #E78C03;	
  border-radius: 8px;	
  background-color: #FFFFFF;
}
.inputFieldStyle{
  border: 2px solid #c70919;
}
.inputFieldStyle:focus{
  border: 2px solid #c70919;
  box-shadow: 1px 1px 1px 2px rgb(243, 231, 231); 
}
.ff_fileupload_wrap .ff_fileupload_dropzone{
  border: 2px dashed #E78C03;
}
  .accordion{
    border: 1px solid rgb(214, 207, 207);
    border-radius: 5px;
  }
  .accordion p{
    font-size: 16px;
  }

 .output{
   border-radius: 5px;
   background-color: white;
   color: #000000;
 } 
/* ================================== Submit Data ================= */
.submitData,.submitDataShow,.successfulSubmit{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.successfulSubmit h2{
  font-size: 30px;
  font-family: "Archivo Narrow";
  font-weight: bold;
  letter-spacing: 1.67px;	
  line-height: 40px;
}
.successfulSubmit p{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.submitDataShow p{
  font-size: 18px;
  color: #4B4B4B;
}
.submitData a{
  color: #4B4B4B;	
  font-size: 20px;	
  font-weight: bold;	
  letter-spacing: 1.11px;	
  line-height: 27px;	
  text-align: center;
}
.submitData p{
  font-size: 18px;
}
.btnSubmitData{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
/* ================================ Page Account Setting ================*/
.btnSaveChanges{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
.notification{
  margin-top: 2px;
  position: absolute;
  margin-left: 35%;
  margin-right: 10%;
}
.vl{
  float:right; 
  border-left: 1px solid black;
  height: 120%;
  min-height: 100%;
}
/* =================================== Account Details ================ */
.accDetails{
  color: #AF9164;
  font-weight: bold;
}
.busnessType{
  font-size: 18px;
}
.note{
 font-size: 20px;
 font-weight: bold;
 line-height: 27px; 
}
.note a{
  color: #E78C03;
}
/* ========================================= Company Details View ====== */
.compAdd label{
  font-size: 18px;
}
.compAdd p{
  font-size: 14px;
  color: #AF9164;
  font-weight: bold;
}
.txtWornDetails p{
  font-size: 16px;
  color: #AF9164;
  font-weight: 500;
}
.pendApproval{
  color: #000000;
  font-size: 24px;	
  font-weight: bold;	
  letter-spacing: 1.33px;	
  line-height: 32px;
}
