/* ================ Page Login ======================= */
/* =================================================== */
header{
  box-shadow: 1px 1px 1px 2px rgb(243, 231, 231);
  padding: 15px;
}
.content h4{
  font-weight: 600;
  color: #000000;
  font-size: 30px;
}
.content label,.formShadow label{
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: 600;
}
  input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
.content .form-control{
  width: 90%;
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
  height: 44px;
}
.content .form-control:focus{
  border: 1px solid #E78C03;
  background-color: white;
  box-shadow: none;
}
.input-group .input-group-prepend .input-group-text{
  background-color: rgb(248, 240, 240);
}
.formLogIn .input-group{
  width: 90%;
}
.formRegistration .input-group{
  width: 80%;
}
.formLogIn .input-group .input-group-prepend .fa,.formShadow .fa{
  color: #E78C03;
}
.content .password{
  width: 60% !important;
}
.login{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
  padding: 15px;
  border-radius: 10px;
}
.formRegistration .form-control{
  width: 80%;
}
.login h3{
  color: #000000;
  font-size: 30px;	font-weight: 500;
}
.login h6{
  font-size: 18px;
  font-weight: bold;
}
.login h5{
  font-size: 18px;
  font-weight: 600;
}
.btnLogin{
  background-color: #E78C03;
  color: white;
  border-radius: 20px;
  width: 50%;
  font-size: 18px;
}
.btnEmail{
  background-color: #E78C03;
  color: white;
  border-radius: 20px;
  width: 285px;
  font-weight: 600;
  font-size: 18px;
}
.btnLogin:hover{
  color: #000000;
}
.forget{
  color: black;
  font-weight: 500;
}
.btnLogin2{
  background-color: #E78C03;
  color: white;
  border-radius: 20px;
  width: 50%;
  font-size: 18px;
}
.logPhoto{
  margin-top:12rem;
}
@media screen and (max-width:990px){
  .logPhoto{
    margin-top: 1rem;
  }
}
.logPhoto img,.logPhoto2 img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.logPhoto h3,.logPhoto2 h3{
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}
.logPhoto p,.logPhoto2{
  font-size: 20px;
  color: black;
}
.check{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #E78C03;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
  /* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
footer .list-inline .list-inline-item a{
  color: white;
}
footer{
  background-color: black;
}
/* =========================================== page Forget Password ============== */
.forgetSection p{
  font-size: 18px;
  font-weight: 500;
}
.forgetSection h3{
  font-size: 30px;
}
.forgetSection,.emailVerificate{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
  padding: 15px 5px;
  border-radius: 10px;
}
.forgetSection label{
  font-weight: 500;
  font-size: 17px;
}
.forgetSection .form-control{
  background-color: rgb(248, 240, 240);
  border:none;
}
.forgetSection .form-control:focus{
  border: 1px solid #E78C03 !important;
  background-color: white;
  box-shadow: none;
}
/* =========================================== page Reset Password =============== */
.resetPassword{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
  padding: 15px 5px;
  border-radius: 10px;
}
.resetPassword p{
  font-size: 18px;
  font-weight: 500;
}
.resetPassword h3{
  font-size: 30px;
}
.resetPassword label{
  font-size: 16px;
  font-weight: 500;
}
.resetPassword .form-control{
  background-color: rgb(248, 240, 240);
  border:none;
}
.resetPassword .form-control:focus{
  border: 1px solid #E78C03 !important;
  background-color: white;
  box-shadow: none;
}
.resetPassword .form-group .fa{
  color: #E78C03;
}
/* =========================================== page Registration ================ */
.registration h3{
  color: #4B4B4B;
  font-size: 30px;
}
.list-group-horizontal{
  border: none;
}
.list-group-horizontal .list-group-item{
  background-color: rgb(238, 245, 247);
  cursor: pointer;
  color: rgb(84, 92, 88);
  font-size: 13px;
  font-weight: 600;
}
.bg-dangerr{
  background-color: #E78C03 !important;
  color: white !important;
}
.bg-dangerrr{
  background-color: #E78C03 !important;
  color: white !important;
}
.bg-successs{
  background-color: #E78C03 !important;
  color: white !important;
}
.registration p{
  font-size: 20px;
  font-weight: 500;
}
.accordion .card-body{
  background-color: white;
}
.formShadow {
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.formShadow .form-control{
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
  height: 44px;
}
.formShadow .form-control:focus{
border: 1px solid #E78C03;
background-color: white;
box-shadow: none;
}
.check a{
  color: #E78C03;
}
.check p{
  font-size: 12px;
  line-height: 26px;
}
/* ================================= page Email Verification =============================*/
.emailVerificate img{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
/* ======================================== Page Details ====================== */
.txtWorn {
  background-color:#CDEBF3;
  border-radius: 5px;
}
.txtSuccess{
  border-radius: 5px;
  background-color: #B4FFDB;
}
.txtReview{
  background-color: #FFDFB4;
  border-radius: 5px;
}
.txtReject{
  background-color: #FFC5B4;
  border-radius: 5px;
}

.firstUploadCollapse .card-body{
  
  background-color: white; 
}
.btnClickAddContact{
  background-color: white;
  color: #E78C03;
  font-size: 18px;
}
.tab-content h2{
  font-size: 30px;
}

.tabButton .bg-dark{
  background-color: #000000 !important;
  border-radius: 3px;
}
.tabButton .nav li a{
  color: white;
  padding: 14px;   
}
.nav-pills .nav-link{
  border-radius: 0;
  height: 100%;
}
.tabButton .nav li a:active{
  background-color: #E78C03;
}
.tabButton .nav li a:visited{
  background-color: #E78C03;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #E78C03;
}
.tabButton .nav li a:focus{
  background-color: #E78C03;
}
.tabButton .nav li a:hover{
  background-color: #E78C03;
}
@media screen and (max-width:600px){
  .details .tabButton .bg-dark .li{
    display: flex;
    width: 100px;
    background-color: red !important;
    justify-content: center;
  }
}
  
.btnSubmit{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
 
  /* .addDetails{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
    background-color: #FFFFFF;
  } */
.addDetails .form-control{
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
  height: 44px;
}
.addDetails .form-control:focus{
  border: 1px solid #E78C03;
  background-color: white;
  box-shadow: none;
}

.addDetails label{
  font-weight: bold;
  margin-bottom: 0.3rem;
  padding: 0;
}
.linkAdd a{
  color: #E78C03;
  font-size: 18px;
  font-weight: 500;
  font-family: "Archivo Narrow";
}

.btnClickAddAccount{
  color: #E78C03;
}
.ordList p{
  color: #E78C03;
  text-align: center;
  font-weight: bold;
}

  /* ========================================= Activities =====================*/
  .activitiesContent{
    padding: 14px;
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
  }
  .btnAll{
    width: 45%;
    height: 44px;
    background-color: rgb(248, 240, 240);
    color: #a17578;
  }
  .btnAll:active,.btnAll:focus{
    background-color: #E78C03;
    color: white;
    border: none;
    box-shadow: none;
  }
  .addMore{
    box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2); 
  }
  .imgEdit{
    margin-top: -51px;
  }
/* ========================================= Upload Documents ====== */
.firstUploadCollapse .card-header h5{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 10px 15px;
}
.firstUploadCollapse .card-header a:hover{
  text-decoration: none;
}
.exDate .form-inline .form-group .form-control{
  width: 175px !important;
}

.uploadDocuments{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.uploadDocuments .accordion{
  border: 1px solid #4B4B4B;
  box-shadow: none;
}
.uploadDocuments .accordion .card-body{
  background-color: rgba(0,0,0,.03);
}
.uploadShow .bg-white p{
  color: #AF9164;
  padding-left:1rem; 
}
.uploadDocuments .box{
  box-sizing: border-box;	
  height: 275px;	
  width: 100%;	
  border: 2px dashed #E78C03;	
  border-radius: 8px;	
  background-color: #FFFFFF;
}
.inputFieldStyle{
  border: 2px solid #c70919;
}
.inputFieldStyle:focus{
  border: 2px solid #c70919;
  box-shadow: 1px 1px 1px 2px rgb(243, 231, 231); 
}
.ff_fileupload_wrap .ff_fileupload_dropzone{
  border: 2px dashed #E78C03;
}
  .accordion{
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0 20px 0 rgba(175,145,100,0.2);
    border-radius: 5px;
  }
  .accordion p{
    font-size: 16px;
  }

 .output{
   border-radius: 5px;
   background-color: white;
   color: #000000;
 } 
/* ================================== Submit Data ================= */
.submitData,.submitDataShow,.successfulSubmit{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.successfulSubmit h2{
  font-size: 30px;
  font-family: "Archivo Narrow";
  font-weight: bold;
  letter-spacing: 1.67px;	
  line-height: 40px;
}
.successfulSubmit p{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.submitDataShow p{
  font-size: 20px;
  color: #4B4B4B;
  font-weight: 700;
}
.submitData a{
  color: #4B4B4B;	
  font-size: 20px;	
  font-weight: bold;	
  letter-spacing: 1.11px;	
  line-height: 27px;	
  text-align: center;
}
.submitData p{
  font-size: 18px;
}
.btnSubmitDataFaill{
  background-color: rgb(177, 167, 152);
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
.btnSubmitDataSuccess{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
.btnSubmitDataFaill:hover{
  color: white;
}
/* ================================ Page Account Setting ================*/
.btnSaveChanges{
  background-color: #E78C03;
  color: white;
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
}
.notification{
  margin-top: 2px;
  position: absolute;
  margin-left: 35%;
  margin-right: 10%;
}
.vl{
  display: flex;
  margin-left: 25px;
  justify-content: center;
  border-left: 1px solid black;
  height: 120%;
  min-height: 100%;
}
/* =================================== Account Details ================ */
.accDetails{
  color: #AF9164;
  font-weight: bold;
}
.busnessType{
  font-size: 18px;
}
.note{
 font-size: 20px;
 font-weight: bold;
 line-height: 27px; 
}
.note a{
  color: #E78C03;
}
/* ========================================= Company Details View ====== */
.compAdd label{
  font-size: 18px;
}
.editDetails,.bankSave,.activitiesHide,.hideBran,.hideUpload,.showUploadDoc{
  display: none;
}
.compAdd p{
  font-size: 14px;
  color: #AF9164;
  font-weight: bold;
}
.txtWornDetails p{
  font-size: 16px;
  color: #AF9164;
  font-weight: 500;
}
.pendApproval{
  color: #000000;
  font-size: 24px;	
  font-weight: bold;	
  letter-spacing: 1.33px;	
  line-height: 32px;
}
/* ====================================================== Dropdown =============================== */
.dropdown-item-special {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  transition: all 0.5s;
}
.drpDown .dropdown-menu .dropdown-item{
  font-size: 12px;
}
.dropdown-item-special:hover {
  background-color: #F7F3E3;
}
.dropdown-menu {
  padding-bottom: 0px;
  background-size: cover;
}
#notificationDropdownMenu {
  top: 25px !important;
  transform: translate3d(-175px, 15px, 0px) !important;
}
.drpDown .dropdown-menu img{
  width: 20px;
  height: 20px;
}
/* ====================================== Contact Us ======================= */
.contactUs label{
  font-weight: 500;
  font-size: 18px;
  margin: 2px;
}
.contactUs{
  box-shadow: 0 2px 20px 0 rgba(175,145,100,0.2);
}
.contactUs .form-control{
  border: none;
  font-size: 14px;
  background-color: rgb(248, 240, 240);
}
.contactUs input{
  height: 40px;
}
.contactUs .form-control:focus{
  border: 1px solid #E78C03;
  background-color: white;
  box-shadow: none;
}