/* ================ Page Login ======================= */
header{
    box-shadow: 1px 1px 1px 2px rgb(243, 231, 231);
    padding: 15px;
}
/* ================================================== */
.content h4{
    color: #4B4B4B;
    font-size: 30px;
}
.content label,.formShadow label{
    font-size: 16px;
    font-weight: bold;
}
.content .form-control{
    width: 90%;
    border: 1px solid #E78C03;
    height: 44px;
}
.formLogIn .input-group{
    width: 90%;
}
.formLogIn .input-group .input-group-prepend .fa,.formShadow .fa{
    color: #E78C03;
}
.content .password{
    width: 60% !important;
}
.login{
    box-shadow: 2px 2px 2px 2px rgb(243, 231, 231);
    padding: 15px;
}
.login h6{
    font-size: 19px;
}
.btnLogin{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 50%;
    font-size: 18px;
}
.btnLogin .fa{
    color: white;
}
.forget{
    color: black;
}
.btnLogin2{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 50%;
    font-size: 18px;
}
.logPhoto img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logPhoto p{
    font-size: 20px;
    color: black;
}
.check{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check input:checked ~ .checkmark {
    background-color: #E78C03;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.list-inline .list-inline-item a{
    color: white;
}
footer{
    background-color: black;
}
/* ==================================================================================== */
/* ====================================== page Registration ========================== */
.registration h3{
    color: #4B4B4B;
    font-size: 30px;
}
.registration p{
    font-size: 20px;
    font-weight: 500;
}
.formShadow ,.chooseOption{
    box-shadow: 1px 1px 1px 2px rgb(243, 231, 231);
}
.formShadow .form-control{
    height: 44px;
    border:1px solid #E78C03;
}
.check a{
    color: #E78C03;
}
/* ===================================================================================== */
/* ============================================ page Choose Business =================== */
/* The customRadio */
.customRadio {
    margin-bottom: 0px;
    display:inline-block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .customRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmarks {
    position: absolute;
    top: 0;
    margin-top: 2px;
    left: 0;
    height: 26px;
    width: 27px;
    background-color: white;
    border-radius: 50%;
    border:1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .customRadio:hover input ~ .checkmarks {
    background-color: orange;
  }
  
  /* When the radio button is checked, add a blue background */
  .customRadio input:checked ~ .checkmarks {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .customRadio input:checked ~ .checkmarks:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .customRadio .checkmarks:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: orange;
}
.btnConfirm{
    background-color: #E78C03;
    color: white;
    border-radius: 20px;
    width: 20%;
    font-size: 18px;
}
